:root {
    --white: #FFFFFF;
    --stone-100: #F4EDE4;
    --stone-150: #E8E2DC;
    --stone-600: #59524A;
    --stone-900: #2E2926;
    --brown-800: #8B3E2F;
    --rose-800: #872742;
    --rose-50: #FFF1F2;
}

@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-block-size: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--stone-100);
}

img {
    inline-size: 100%;
    block-size: auto;
}

.main-container {
    background-color: var(--white);
    inline-size: clamp(320px, 320px + 10vw, 736px);
}

.text-content {
    padding-block: 40px;
    padding-inline: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title-content__title {
    font-family: "Young Serif", serif;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0px;
}

@media (width > 48rem) {
    .main-container {
        padding: 40px;
    }
}