:root {
    --white: #FFFFFF;
    --stone-100: #F3E5D7;
    --stone-150: #E3DDD7;
    --stone-600: #5F564D;
    --stone-900: #312E2C;
    --brown-800: #854632;
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-block-size: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--stone-100);
}

img {
    inline-size: 100%;
    block-size: auto;
}

ul,
ol {
    list-style-position: inside;
    padding-left: 0;
}

.text-preset1-regular {
    font-family: "Young Serif", serif;
    font-size: clamp(36px, 30px + 1.5vw, 40px);
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 400;
}

.text-preset2-regular {
    font-family: "Young Serif", serif;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 400;
}

.text-preset3-semibold {
    font-family: "Outfit", serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 600;
}

.text-preset4-regular {
    font-family: "Outfit", serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
}

.text-preset4-bold {
    font-family: "Outfit", serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
    font-weight: 700;
}

.main-container {
    background-color: var(--white);
    max-inline-size: 616px;
    inline-size: 100%;
}

.text-content {
    padding-block: 40px;
    padding-inline: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.text-content > hr {
    border: none;
    background-color: var(--stone-150);
    block-size: 1px;
}

.title-content__title {
    color: var(--stone-900);
}

.title-content__description {
    padding-top: 24px;
    color: var(--stone-600);
}

.preparation-content {
    padding: 24px;
    background-color: var(--rose-50);

}

.preparation-content__title {
    padding-inline-start: 8px;
    color: var(--rose-800);
}

.preparation-content__list {
    display: flex;
    flex-direction: column;
    padding-block: 16px;
    color: var(--stone-600);
    gap: 8px;
    padding-inline-start: 8px;
}

.preparation-content__list li::marker{
    margin-left: 20px;
}

.preparation-content__list > div {
    color: var(--rose-800);
    display: flex;
    block-size: 24px;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.preparation-content__list > div::before {
    content: "\2022";
    color: var(--rose-800);
    margin-inline-end: 26px;
    font-size: 24px;
}

.preparation-content__list strong {
    color: var(--rose-800);
}

.ingredients-content__title {
    color: var(--brown-800);
}

.ingredients-content__list {
    padding-top: 24px;
    display: grid;
    gap: 8px;
    color: var(--stone-600);
    padding-inline-start: 8px;
}

.ingredients-content__list div {
    display: flex;
    align-items: center;
    gap: 26px;
    min-block-size: 24px;
}

.ingredients-content__list div::before {
    content: "\2022";
    font-size: 2rem;
    block-size: 24px;
    display: flex;
    align-items: center;
    color: var(--brown-800);
}


.instructions-content__title {
    color: var(--brown-800);
}

.instructions-content__list {
    color: var(--stone-600);
    padding-block-start: 24px;
    display: grid;
    gap: 8px;
    padding-inline-start: 48px;
}

.instructions-content__list li {
    text-indent: -38px;
}

.instructions-content__list li strong {
    padding-inline-start: 16px;
}
.instructions-content__list li::marker {
    color: var(--brown-800);
    font-weight: 700;

}

.instructions-content__list .li-box {
    display: flex;
    gap: 16px;
    padding-inline-start: 8px;
}

.instructions-content__list span {
    font-weight: 700;
}

.nutrition-content {
    display: grid;
    gap: 24px;
}

.nutrition-content__title {
    color: var(--brown-800);
}

.nutrition-content__description {
    color: var(--stone-600);
}

.nutrition-content__table {
    display: flex;
    flex-direction: column;
}

.nutrition-content__table hr {
    background-color: var(--stone-150);
    border: none;
    block-size: 1px;
    margin-block: 12px;
}


.table-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 32px;
}

.table-row__nutrient {
    color: var(--stone-600);
}

.table-row__weight {
    color: var(--brown-800);
    font-weight: 700;
}

@media (width > 48rem) {
    body {
        padding-block: 128px;
    }

    .main-container {
        padding: 40px;
        border-radius: 24px;
        padding-block-end: 0;
    }

    .top-img {
        border-radius: 12px;
    }

    .text-content {
        padding-inline: 0px;
    }
}

@media (width > 79rem) {
    .main-container {
        max-inline-size: 736px;
    }
}